APP_NAME="Homa Ghost"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://panel.example.com
APP_LOCALE=fa
APP_FALLBACK_LOCALE=fa
APP_TIMEZONE=Asia/Tehran

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homa_panel
DB_USERNAME=homa_user
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
CACHE_STORE=database
QUEUE_CONNECTION=sync

BANK_OWNER="نام صاحب کارت"
BANK_CARD_NUMBER="0000-0000-0000-0000"
BANK_NAME="نام بانک"
MARZBAN_ALLOW_PRIVATE_IPS=false

ADMIN_NAME="مدیر هما گوست"
ADMIN_EMAIL=admin@example.com
