/.env
/.phpunit.cache
/auth.json
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/installed.lock
/storage/app/private/*
!/storage/app/private/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*.log
/vendor
